# Moloco Online Test
This document contains solutions to the online test. Breif explanations are added for each problem as requested.

### 0) Import modules and data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Adops & Data Scientist Sample Data - Q1 Analytics.csv', header=0, parse_dates = ['ts'])

In [3]:
df.head()

                   ts user_id country_id site_id
0 2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1 2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2 2019-02-01 00:21:50  LC3500        TL6   N0OTG
3 2019-02-01 00:22:50  LC374F        TL6   N0OTG
4 2019-02-01 00:23:44  LCC1C3        TL6   QGO3G

In [4]:
df = df.sort_values('ts').reset_index(drop=True) # make sure the data is sorted by timestamp

### 1) Consider only the rows with country_id = "BDV" (there are 844 such rows). For each site_id, we can compute the number of unique user_id's found in these 844 rows. Which site_id has the largest number of unique users? And what's the number?

1. Filter out the data leaving only data points with country_id = "BDV".
2. Group by site_id.
3. Count number of unique user_id's for each site.
4. Sort.

In [5]:
df1 = df[df['country_id']=='BDV']
df1_by_site = df1.groupby('site_id')
site_by_user = df1_by_site['user_id'].nunique().sort_values()
site_by_user

site_id
3POLC      2
N0OTG     90
5NPAU    544
Name: user_id, dtype: int64

In [6]:
ans1_site = site_by_user.index[-1]
ans1_num = site_by_user[-1]
print('{} has the larget number of unique users. The number is {}.'.format(ans1_site, ans1_num))

5NPAU has the larget number of unique users. The number is 544.

### 2) Between 2019-02-03 00:00:00 and 2019-02-04 23:59:59, there are four users who visited a certain site more than 10 times. Find these four users & which sites they (each) visited more than 10 times. (Simply provides four triples in the form (user_id, site_id, number of visits) in the box below.)
1. Filter out the data only leaving data points with timestamp between 2019-02-03 00:00:00 and 2019-02-04 23:59:59.
2. Group by user_id and site_id (visits grouped by site for each user).
3. Count how many times each user visited each site.
4. Select data points with more than 10 visits.

In [7]:
df2 = df[('2019-02-03 00:00:00' < df['ts']) & (df['ts']< '2019-02-04 23:59:59')]
df2_by_user_site = df2.groupby(['user_id','site_id'])['site_id'].count()

In [8]:
ans2 = df2_by_user_site[df2_by_user_site > 10]
ans2

user_id  site_id
LC06C3   N0OTG      25
LC3A59   N0OTG      26
LC3C7E   3POLC      15
LC3C9D   N0OTG      17
Name: site_id, dtype: int64

### 3) For each site, compute the unique number of users whose last visit (found in the original data set) was to that site. For instance, user "LC3561"'s last visit is to "N0OTG" based on timestamp data. Based on this measure, what are top three sites? (hint: site "3POLC" is ranked at 5th with 28 users whose last visit in the data set was to 3POLC; simply provide three pairs in the form (site_id, number of users).)
1. Drop duplicates leaving only the last visit for each user.
2. Group by site_id and count number of unique users for each site (both nunique and count can be used here, since duplicates have been dropped in the previous step).
3. Sort values in descending order.
4. Take top three.

In [9]:
df3 = df.drop_duplicates(subset = ['user_id'], keep='last')

In [10]:
ans3 = df3.groupby('site_id')['user_id'].count().sort_values(ascending = False)[:3]
ans3

site_id
5NPAU    992
N0OTG    561
QGO3G    289
Name: user_id, dtype: int64

In [11]:
print('Top three sites based on unique number of users with last visit to the site are: ' + ', '.join(ans3.index))

Top three sites based on unique number of users with last visit to the site are: 5NPAU, N0OTG, QGO3G

### 4) For each user, determine the first site he/she visited and the last site he/she visited based on the timestamp data. Compute the number of users whose first/last visits are to the same website. What is the number?
1. Create two DataFrames each containing first and last visit by each user.
2. For comparison, sort both DataFrames by user_id and set user_id as index.
3. Compare and count the number of users with first and last visits to the same site.

In [12]:
df4_first = df.drop_duplicates(subset = ['user_id'], keep = 'first').sort_values('user_id')
df4_last = df.drop_duplicates(subset = ['user_id'], keep = 'last').sort_values('user_id')

In [13]:
ans4 = sum(df4_first.set_index('user_id')['site_id'] == df4_last.set_index('user_id')['site_id'])

In [14]:
print('The number of users whose first/last visits are to the same website is {}.'.format(ans4))

The number of users whose first/last visits are to the same website is 1670.